.gameHeading {
	color: darkgray;
	padding: 1rem;
	font-size: 1.5rem;
}
.gameContainer {
	width: 100%;
	display: flex;
	height: min-content;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}
.colors {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.gameBoard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	width: min-content;
}
.box {
	height: 4rem;
	width: 4rem;
	background-color: darkgray;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
}
.gameBtn {
	padding: 1rem;
	width: 10rem;
	margin: 0.5rem 0;
	background-color: #777;
	color: whitesmoke;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.turn {
	color: lightgray;
	padding: 0 0 1rem 0;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
}
.restart {
	display: flex;
	padding: 0.5rem 0;
	color: slategray;
	cursor: pointer;
}
.start * {
	color: darkgray;
	font-size: 1.25rem;
}
.start > button {
	background-color: transparent;
	padding: 0.5rem;
	margin-right: 1.25rem;
	border-radius: 25%;
}
@media (min-width: 768px) {
	.gameHeading {
		font-size: 2rem;
	}
	.box {
		height: 8rem;
		width: 8rem;
	}
	.gameBtn {
		font-size: 1.5rem;
		width: 15rem;
	}
	.inputField {
		width: 10rem;
		height: 60%;
		font-size: 2rem;
	}
	.btn {
		width: 10rem;
		height: 60%;
	}
	.gameContainer {
		gap: 2rem;
		height: 4rem;
		align-items: center;
	}
	.turn {
		font-size: 1.75rem;
	}
	.start * {
		font-size: 1.5rem;
	}
}
