.inputContainer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
	min-height: 100vh;
}
.inputs {
	width: 80%;
	display: grid;
	gap: 1rem;
	max-width: 40rem;
}

Button {
	padding: 1rem;
	width: 80%;
	max-width: 40rem;
}
